doctype html
html
    head
        meta(name="viewport" content="width=device-width")
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        title=subject 
        
        include _style


    body(style="background-color: #f6f6f6; font-family: sans-serif; -webkit-font-smoothing: antialiased; font-size: 14px; line-height: 1.4; margin: 0; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;")
        table.body(border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;")
            tr
                td(style="font-family: sans-serif; font-size: 14px; vertical-align: top;")  
                td.container(style="font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; Margin: 0 auto; max-width: 580px; padding: 10px; width: 580px;")
                    .content(style="box-sizing: border-box; display: block; Margin: 0 auto; max-width: 580px; padding: 10px;")
                        // START CENTERED WHITE CONTAINER
                        span.preheader(style="color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;") This is preheader text. Some clients will show this text as a preview.
                        table.main(style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-radius: 3px;")
                            // START MAIN CONTENT AREA
                            tr
                                td.wrapper(style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;")
                                    table(border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;")
                                        tr
                                            td(style="font-family: sans-serif; font-size: 14px; vertical-align: top;")

                                                block content

                            // END MAIN CONTENT AREA
                            // START FOOTER
                            .footer(style="clear: both; Margin-top: 10px; text-align: center; width: 100%;")
                                table(border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;")
                                    tr
                                        td.content-block(style="font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;")
                                            span.apple-link(style="color: #999999; font-size: 12px; text-align: center;") Company Inc, 3 Abbey Road, San Francisco CA 94102
                                            br
                                            |  Don't like these emails? 
                                            a(href="http://i.imgur.com/CScmqnj.gif" style="text-decoration: underline; color: #999999; font-size: 12px; text-align: center;") Unsubscribe
                                            | .
                                    tr
                                        td.content-block.powered-by(style="font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;")
                                            | Powered by 
                                            a(href="http://htmlemail.io" style="color: #999999; font-size: 12px; text-align: center; text-decoration: none;") HTMLemail
                                            | .
                            // END FOOTER
                            // END CENTERED WHITE CONTAINER
                td(style="font-family: sans-serif; font-size: 14px; vertical-align: top;")
