extends layout

block content
    .alert.alert-danger.align-middle(role='alert')
        |
        |You have exceeded the verification period. Please contact the support team or try to create a new account.
        |